/*Open-source Google fonts on local storage*/

@font-face {
	font-family: 'Amatic SC Bold';
	src: url(fonts/AmaticSC-Bold.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Montserrat-Regular';
	src: url(fonts/Montserrat-Regular.ttf) format('truetype');
	font-style: normal;
	font-weight: normal;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	color: black;
}

/*White margins like Shelnat site*/
.margins {
	position: fixed;
	pointer-events: none;
	width: 100%;
	height: 100vh;
	border: 15px solid white;
	z-index: 1;
}

/*Menu styles*/
.hamburger{
	background: none;
	position: fixed;
	top: 0;
	line-height: 45px;
	padding: 25px 15px 0 30px;
	color: white;
	border: 0;
	font-size: 2em;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	z-index:10000000000000;
}

.cross{
	background: none;
	position: fixed;
	top: 0;
	padding: 35px 15px 0 30px;
	color: #000;
	border: 0;
	font-size: 5em;
	line-height: 65px;
	cursor: pointer;
	outline: none;
	z-index: 10000000000000;
	display: none;
}

.menu {
	font-family: 'Montserrat', sans-serif;
	font-size: 48px;
	z-index: 1000000; 
	width: 100%; 
	height: 100vh;
	position: fixed; 
	display: none;
	background-color: white; 
}

@media screen and (min-width: 300px) and (max-width: 760px) {
	.menu {
		font-size: 24px;
	}
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
}
.menu li {
	display: block;
	margin: 70px;
	padding: 15px 0 15px 15px;
	background-color: white;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
	.menu li {
		margin: 50px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1175px) {
	.menu li {
		margin: 60px;
	}
}

.menu li:hover {
	display: block;
	background-color: white;
}
.menu ul li a { 
	text-decoration: none;  
	margin: 0; 
	color: #000;
}
.menu ul li a:hover {  
	color: #000;
	text-decoration: underline;
}
.menu a {
	text-decoration: none;
	color: white;
}
.menu a:hover {
	text-decoration: none;
	color: white;
}

/*Intro block*/
.intro {
	width: 100%;
	height: 100vh;
	background-image: url(images/mycat.png);
	background-color: #B9B9B9;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	position: relative;
}

.intro__header {
	font-family: 'Amatic SC Bold', cursive;
	color: #000000;
	font-size: 51px;
	text-align: center;
	line-height: 1.4;
	position: absolute;
	top: 20px;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.intro__header {
		font-size: 90px;
	}
}

.intro__subtitle {
	font-family: 'Amatic SC Bold', cursive;
	color: #000;
	text-align: center;
	line-height: 61px;
	position: absolute;
	width: 100%;
    bottom: 20px;
    font-size: 40px;
}

@media screen and (min-width: 768px) {
	.intro__subtitle {
		font-size: 60px;
		bottom: 30px;
	}
}


/*About me block*/
.about {
	width: 100%;
	height: 100vh;
	background-color: #B9B9B9;
	padding: 10%;
}

@media screen and (min-width: 1280px) {
	.about {
		padding: 5% 10%;
	}
}

.about__bio {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: flex-start;
	margin: auto;
	padding-bottom: 1%;
}

@media screen and (min-width: 768px) {
	.about__bio {
		padding-bottom: 5%;
	}
}

@media screen and (min-width: 1280px) {
	.about__bio {
		padding-bottom: 3%;
	}
}

@media screen and (min-width: 1366px) {
	.about__bio {
		padding-bottom: 5%;
	}
}

.about__title {
	font-family: 'Amatic SC Bold', cursive;
	color: #000;
	text-align: center;
    font-size: 36px;
    line-height: 1;
    padding-bottom: 5%; 
}

@media screen and (max-width: 375px) {
	.about__title {
		font-size: 28px;
	}
}

@media screen and (min-width: 768px) {
	.about__title {
		font-size: 64px;
	}
}

@media screen and (min-width: 1280px) {
	.about__title {
		font-size: 80px;
	}
}

@media screen and (min-width: 1366px) {
	.about__title {
		width: 50%;
	}
}

.about__photo {
	width: 20%;
	height: 20%;
	display: none;
}

@media screen and (min-width: 768px) {
	.about__photo {
		display: inline-block;
		width: 30%;
		height: 30%;
		padding-right: 5px;
	}
}

@media screen and (min-width: 1280px) {
	.about__photo {
		width: 25%;
		height: 25%;
	}
}

.about__text {
	width: 100%;
	font-family: 'Montserrat-Regular', 'Arial', sans-serif;
	color: #000;
	font-size: 24px;
}

@media screen and (max-width: 375px) {
	.about__text {
		font-size: 18px;
	}
}

@media screen and (min-width: 768px) {
	.about__text {
		font-size: 36px;
	}
}


/*Education block*/
.edu {
	width: 100%;
	height: 100vh;
	background-color: #B9B9B9;
	padding: 10%;
}

@media screen and (min-width: 1280px) {
	.edu {
		padding: 5% 10%;
	}
}

.edu__header {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: auto;
}

@media screen and (min-width: 768px) {
	.edu__header {
		padding-bottom: 5%;
	}
}

@media screen and (min-width: 1280px) {
	.edu__header {
		padding-bottom: 3%;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
	}
}

.edu__title {
	font-family: 'Amatic SC Bold', cursive;
	color: #000;
	text-align: center;
    font-size: 36px;
    line-height: 1;
    padding-bottom: 10%;
}

@media screen and (max-width: 375px) {
	.edu__title {
		font-size: 28px;
	}
}

@media screen and (min-width: 768px) {
	.edu__title {
		font-size: 64px;
	}
}

@media screen and (min-width: 1280px) {
	.edu__title {
		font-size: 80px;
		padding-right: 5%;
		padding-bottom: 0;
	}
}

/* Styles for main slider container*/
.slider {
	position: relative;
	overflow: hidden;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;

/*Mmmm, crutches!*/
	left: 25px;
}

@media screen and (min-width: 768px) {
	.slider {
		left: 55px;
	}
}

@media screen and (min-width: 1280px) {
	.slider {
		left: 0;
		right: 5px;
	}
}

/*Styles for slider wrapper */
.slider__wrapper {
	position: relative;
	overflow: hidden;
}

/*Styles for imgs container*/
.slider__items {
	display: flex;
	transition: transform 0.6s ease;
}

/* Styles for imgs*/
.slider__item {
	flex: 0 0 100%;
	max-width: 100%;
}

/* Styles for 'next' and 'back' buttons*/
.slider__control {
	position: absolute;
	top: 50%;
	display: none;
	align-items: center;
	justify-content: center;
	width: 40px;
	color: white;
	text-align: center;
	opacity: 0.5;
	height: 50px;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.5);
}

.slider__control_show {
	display: flex;
}

.slider__control:hover,
.slider__control:focus {
	color: white;
	text-decoration: none;
	outline: 0;
	opacity: 0.9;
}

.slider__control_prev {
	left: 0;
}

.slider__control_next {
	right: 0;
}

.slider__control::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
}

.slider__control_prev::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* Styles for indicators*/
.slider__indicators {
	position: absolute;
	right: 100px;
	bottom: 10px;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	padding-left: 0;
	margin: 0 15%;
	list-style: none;
}

.slider__indicators li {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 30px;
	height: 4px;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}

.slider__indicators li.active {
	background-color: #000;
}

.img-fluid {
	display: inline-block;
	width: 80%;
}

.edu__text {
	display: none;
}

@media screen and (min-width: 768px) {
	.edu__text {
		font-size: 36px;
		width: 100%;
		font-family: 'Montserrat-Regular', 'Arial', sans-serif;
		color: #000;
	}
}

@media screen and (min-width: 1280px) {
	.edu__text {
		display: inline-block;
	}
}

/*Works block*/
.works {
	width: 100%;
	height: 100vh;
	background-color: #B9B9B9;
	padding: 10%;
}

@media screen and (min-width: 1280px) {
	.works {
		padding: 5% 10%;
	}
}

.works__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	margin: auto;
}

@media screen and (min-width: 768px) {
	.works__header {
		flex-wrap: nowrap;
		padding-bottom: 3%;
	}
}

@media screen and (min-width: 1024px) {
	.works__header {
		padding-bottom: 2%;
	}
}

/*Okay, it's not so good class naming...*/
.works__first-heading {
	font-family: 'Amatic SC Bold', cursive;
	color: #000;
	text-align: center;
	font-size: 36px;
	line-height: 1;
	padding-bottom: 15%;
}

@media screen and (min-width: 300px) and (max-width: 375px) {
	.works__first-heading {
		font-size: 28px;
	}
}

@media screen and (min-width: 768px) {
	.works__first-heading {
		font-size: 54px;
		padding-bottom: 0;
	}
}

@media screen and (min-width: 1280px) {
	.works__first-heading {
		font-size: 80px;
	}
}

.works__image {
	display: none;
}

@media screen and (min-width: 768px) {
	.works__image {
		display: inline-block;
		width: 60%;
		height: 60%;
	}
}

@media screen and (min-width: 1038px) {
	.works__image {
		width: 45%;
	}
}

@media screen and (min-width: 1280px) {
	.works__image {
		width: 35%;
		height: 35%;
	}
}

.works__heading {
	display: none;
	font-family: 'Montserrat-Regular', 'Arial', sans-serif;
	color: #000;
	text-align: center;
	align-items: center;
	font-size: 36px;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.works__heading {
		display: inline-block;
		padding: 5%;
	}
}

@media screen and (min-width: 1175px) {
	.works__heading {
		padding: 5%;
	}
}

.works__flexblock {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.works__flexblock {
		flex-direction: row;
		align-items: baseline;
		justify-content: space-between;
	}
}

figure {
	width: 100%;
	padding-bottom: 10%;
}

.works__site {
	width: 60%;
	padding: 1% 0;
}

@media screen and (min-width: 420px) {
	.works__site {
		width: 40%;
	}
}

@media screen and (min-width: 768px) {
	.works__site {
		width: 90%;
	}
}

@media screen and (min-width: 1280px) {
	.works__site {
		width: 70%;
	}
}

.works__figcaption {
	font-family: 'Montserrat-Regular', 'Arial', sans-serif;
	font-size: 24px;
	color: #000;
	padding: 1%;
}

@media screen and (min-width: 300px){
	.works__figcaption {
		font-size: 12px;
	}
}

@media screen and (min-width: 768px) {
	.works__figcaption {
		max-width: 100vw;
		font-size: 18px;
	}
}

@media screen and (min-width: 1150px){
	.works__figcaption {
		font-size: 18px;
	}
}

@media screen and (min-width: 1440px) {
	.works__figcaption {
		font-size: 24px;
	}
}

.works__figcaption:hover {
	text-decoration: underline;
}

/*Links block*/
.links {
	width: 100%;
	height: 100vh;
	background-color: #B9B9B9;
	padding: 10%;
}

@media screen and (min-width: 1280px) {
	.links {
		padding: 5% 10%;
	}
}

.links__header {
	display: flex;
	flex-direction: column;
	padding-bottom: 10%;
}

@media screen and (min-width: 1150px){
	.links__header {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-bottom: 3%;
		align-items: center;
	}
}

.links__title {
	font-family: 'Amatic SC Bold', cursive;
	color: #000;
	text-align: center;
	font-size: 36px;
	line-height: 1;
	padding-bottom: 10%;
}

@media screen and (max-width: 375px) {
	.links__title {
		font-size: 28px;
	}
}

@media screen and (min-width: 768px) {
	.links__title {
		font-size: 64px;
		padding-bottom: 5%;
	}
}

@media screen and (min-width: 1150px){
	.links__title {
		width: 40%;
		padding-bottom: 3%;
	}
}

@media screen and (min-width: 1280px) {
	.links__title {
		font-size: 80px;
	}
}

@media screen and (min-width: 1596px) {
	.links__title {
		width: 50%;
	}
}

.links__resume {
	padding-bottom: 10%;
}

@media screen and (min-width: 1150px){
	.links__resume {
		display: flex;
		justify-content: center;
		padding-bottom: 5%;
	}
}

.links__title2 {
	width: 100%;
	font-family: 'Amatic SC Bold', cursive;
	color: #000;
	text-align: center;
	font-size: 36px;
	line-height: 1;
	padding-bottom: 10%;
}

@media screen and (max-width: 375px) {
	.links__title2 {
		font-size: 28px;
	}
}

@media screen and (min-width: 768px) {
	.links__title2 {
		font-size: 64px;
		padding-bottom: 5%;
	}
}

@media screen and (min-width: 1280px) {
	.links__title {
		font-size: 80px;
	}
}

.links__text {
	font-family: 'Montserrat-Regular', 'Arial', sans-serif;
	font-size: 18px;
}

@media screen and (min-width: 300px) {
	.links__text {
		font-size: 16px;
	}
}

@media screen and (min-width: 768px){
	.links__text {
		font-size: 28px;
		padding-bottom: 15px;
	}
}

.links__text:hover {
	text-decoration: underline;
}

@media screen and (min-width: 768px) {
	.links__social-block {
		box-sizing: border-box;
		display: flex;
		justify-content: space-around;
	}
}

.links__social-block {
	padding-bottom: 5%;
}

/*Small copyright*/
.copyright {
	font-family: 'Montserrat-Regular', 'Arial', sans-serif;
	font-size: 18px;
	color: #000;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	padding-top: 100%;
}

/*CRUTCHES CRUTCHES CRUTCHES CRUTCHES*/
@media screen and (min-width: 300px) {
	.copyright {
		padding-top: 60%;
	}
}

@media screen and (min-width: 535px) {
	.copyright {
		padding-top: 40%;
	}
}

@media screen and (min-width: 666px){
/*Oh fuck. A devil's number*/
	.copyright {
		padding-top: 30%;
	}
}

@media screen and (min-width: 960px){
	.copyright {
		padding-top: 20%;
	}
}

@media screen and (min-width: 1175px){
	.copyright {
		padding-top: 0;
	}

}