body {
  margin: 0;
  width: 100%;
  height: 100hv;
  padding: 0;
  font-family: 'Rubik', sans-serif; /*Rubick!*/
}

/*Menu*/
.menutoggle {
  display: block;
  position: fixed; 
  list-style: none;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  width: 200px;
  background-color: #2b343c; /*Take it for background!*/
  height: 100%;
  top: 0;
  left: -200px;
  transition: left .2s;
  z-index: 2;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  
  padding-top: 72px;
}

.menutoggle li {
  padding-bottom: 8px;
}

.menutoggle li a {
  text-decoration: none; 
  color: #cacaca;
}

.menutoggle li a:hover {
  color:rgba(255, 255, 255);
}

.hiddenmenu {
  display: none;
}

/*Hamburger*/
.button {
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  padding: 2px;
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  transition: left .23s;
  z-index: 3;
  width: 20px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.button span {
  display: block;
  height: 2px;
  background-color: #fff;
  margin: 5px 0 0;
  transition: all .1s linear .23s;
  position: relative;
}

.button span.first {
  margin-top: 0;
}

.hiddenmenu: checked ~ .button {
  left: 160px;
  background-color: #fff;
}

.hiddenmenu:checked ~ .menutoggle {
  left: 0;
}

.hiddenmenu:checked ~ .button span.first {
  -webkit-transform: rotate(45deg);
  top: 7px;
  background-color: #fff;
}

.hiddenmenu:checked ~ .button span.second {
  opacity: 0;
}

.hiddenmenu:checked ~ .button span.third {
  -webkit-transform: rotate(-45deg);
  top: -7px;
  background-color: #fff;
}
/*End of menu*/

.intro {
	background-color: cyan;
  background-image: url(images/mycat.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  height: 100vh;
  text-align: center;
 
  
}	

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Amatic SC', cursive;
  font-style: normal;
  font-weight: bold;
  line-height: 91px;
  text-align: center;
  color: #000000;
  font-size: 4em;
  
  padding: 114px;
  
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 2em;
  line-height: 61px;
  text-align: center;
  color: #000000;
}

/*flex-wrap: wrap     thx Geekbrains!*/

p {
  font-size: 1.375rem;
  color: white;
}

.about {
  height: 50vh;
  background-color: #2b343c;
  padding: 50px 50px 0 50px;
  display: flex;
  justify-content: space-between;
}

.mylife {
  width: 50%;
  /*overflow:?? ;*/

  text-align: right;
  flex-wrap: wrap
}

.photo {
  max-width: 100%;
  flex-wrap: wrap;
}

.edu {
  background-color: #2b343c;
  height: 50vh;
  padding: 50px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  clear: both;
}

.anotherlife {
  margin-left: 0;
  width: 50%;

  flex-wrap: wrap
}

.anotherphoto {
  max-width: 50%;
  flex-wrap: wrap;
  overflow: hidden;
  
}

.works {
  background-color: #2b343c;
  height: 50vh;
  padding: 50px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  clear: both;
}

.links {
  background-color: #2b343c;
  height: 50vh;
  padding: 50px 50px 0 50px;
  display: flex;
  justify-content: space-evenly;
  clear: both;
}